[Unit]
Description=Run Pi Probe Discord speed tests periodically

[Timer]
OnActiveSec=1h
OnUnitInactiveSec=1h
Persistent=true
Unit=pi-probe-discord-speedtest.service

[Install]
WantedBy=timers.target
